// Import page-specific CSS files here.
@import "home";

html {
  height: 100%;
  box-sizing: border-box;
}

div[ng-view] {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.content {
  position: relative;
  height: 100%;
}

@media (min-width: 1080px) {
  .content {
    margin-bottom: 100px;
  }
}

@media (max-width: 1080px) {
  .content {
    margin-bottom: 376px;
  }
}

@media (max-width: 1080px) {
  .content {
    margin-bottom: 376px;
  }
}

@media (max-width: 800px) {
  .content {
    margin-bottom: 200px;
  }
}

@media (max-width: 543px) {
  .content {
    margin-bottom: 714px;
  }
}

@media (max-width: 400px) {
  .content {
    margin-bottom: 714px;
  }
}
