<div class="hero d-flex align-items-center justify-content-center">
  <h1><i class="fas fa-running hero-logo" style="opacity: 0.9"></i></h1>
  <h1><i class="fas fa-running hero-logo"></i></h1>
    <div class="hero-text">
      <h1>Footy Friend</h1>
      <p>Freedom to create your dream team and fill it with familiar faces</p>
      <%= link_to "Get started", leagues_path, class: "cta-btn rounded-pill" %>
    </div>
</div>
<div class="container">
</div>
