.navbar-lewagon {
  justify-content: space-between;
  background: #F5F411;
  z-index: 1000;
  position: relative;
  height: 80px;
}

.navbar-nav {
  background: #F5F411;
  margin-left: -16px;
  padding-left: 16px;
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  background-size: contain;
}

.top-return {
  position: fixed;
  font-size: 24px;
  top: 48px;
  right: 16px;
  a {
    text-decoration: none;
    color: black;
  }
}
